---
import MainTitle from "../right-section/MainTitle.astro";
import SubTitle from "../right-section/SubTitle.astro";
---

<section class="left-content">
  <MainTitle />
  <SubTitle />
</section>

<style>
  .left-content {
    margin-top: 10rem;
    margin-left: 10rem;
    width: 30rem;
    background-color: rebeccapurple;
  }

  /*
  @media (max-width: 1000px) {
    section {
      margin: 0 auto;
    }
  }*/
</style>
