---
import AuditLandingPage from "./AuditLandingPage.astro";
import CTA from "./CTA.astro";
import MainTitle from "./MainTitle.astro";
import SubTitle from "./SubTitle.astro";
---

<section class="left-content">
  <MainTitle />
  <SubTitle />
  <AuditLandingPage />
  <CTA />
</section>

<style>
  .left-content {
    margin-top: 8rem;
    margin-left: 10rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  /*
  @media (max-width: 1000px) {
    section {
      margin: 0 auto;
    }
  }*/
</style>
