<section class="right-section">
  <div class="video"></div>
  <div class="grid-container">
    <div class="grid-item"><div class="card"></div></div>
    <div class="grid-item"><div class="card"></div></div>
    <div class="grid-item"><div class="card"></div></div>
    <div class="grid-item"><div class="card"></div></div>
  </div>
</section>

<style>
  .video {
    width: 37.5rem;
    height: 22rem;
    border: 1px solid #d9d9d9;
    background-color: #d9d9d9;
  }

  .right-section {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 17.18rem;
    height: 12.5rem;
    background-color: aquamarine;
  }

  .grid-container {
    width: 37.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 3 columns */
    grid-template-rows: 1fr 1fr; /* 2 rows */
    gap: 1rem;
  }

  .grid-item {
    border: 1px solid black; /* For visibility */
    margin-top: 1rem;
  }

  /* Position items in the 1st and 3rd columns to mimic space-between */
  .grid-container > .grid-item:nth-child(odd) {
    grid-column: 1;
  }

  .grid-container > .grid-item:nth-child(even) {
    grid-column: 3;
  }
</style>
