---
import ReviewCard from "./ReviewCard.astro";
---

<section class="right-section">
  <div class="video"></div>
  <div class="grid-container">
    <div class="grid-item">
      <ReviewCard
        title="John Doe"
        description="Working with this team has been a game-changer for our business. Their attention to detail and innovative approach has significantly boosted our productivity and market presence. Highly recommend their services for any forward-thinking company!"
      />
    </div>
    <div class="grid-item">
      <ReviewCard
        title="Jane Smith"
        description="I was truly amazed by the level of creativity and dedication shown in bringing my project to life. The end result was not just satisfactory, but it exceeded all my expectations. A heartfelt thank you to the entire team for their exceptional work."
      />
    </div>
    <div class="grid-item">
      <ReviewCard
        title="Michael Johnson"
        description="As an educator, I have seen many services come and go, but this one stands out. It has immensely helped in engaging students and enhancing their learning experience. A top-notch resource that I would gladly recommend to my colleagues."
      />
    </div>
    <div class="grid-item">
      <ReviewCard
        title="Emily Clark"
        description="In our efforts to promote sustainability, we found a partner who not only understands our vision but also adds immense value to it. Their commitment to eco-friendly practices and innovative solutions has been instrumental in our campaign's success."
      />
    </div>
  </div>
</section>

<style>
  .video {
    width: 37.5rem;
    height: 22rem;
    border: 1px solid #d9d9d9;
    background-color: #d9d9d9;
  }

  .right-section {
    margin-top: 8rem;
    margin-bottom: 8rem;
    display: flex;
    flex-direction: column;
  }

  .grid-container {
    width: 37.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 3 columns */
    grid-template-rows: 1fr 1fr; /* 2 rows */
    gap: 1rem;
  }

  .grid-item {
    margin-top: 1rem;
  }

  /* Position items in the 1st and 3rd columns to mimic space-between */
  .grid-container > .grid-item:nth-child(odd) {
    grid-column: 1;
  }

  .grid-container > .grid-item:nth-child(even) {
    grid-column: 3;
  }
</style>
